DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv 데이터 출처 : 자체 제작 데이터 설명 : 학생 15명의 국어, 수학,영어,과학 시험 점수이다. 각 학생은 4과목 중 3과목을 선택해서 시험봤다.

In [26]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv")
df

       학생    국어    수학    영어    과학
0    ID_0  63.0   NaN  79.0  84.0
1    ID_1  91.0  93.0   NaN  73.0
2    ID_2  59.0  55.0   NaN  56.0
3    ID_3  71.0  83.0  82.0   NaN
4    ID_4  62.0  72.0  56.0   NaN
5    ID_5   NaN  69.0  88.0  96.0
6    ID_6  83.0  92.0  69.0   NaN
7    ID_7  85.0   NaN  83.0  66.0
8    ID_8  96.0  75.0  86.0   NaN
9    ID_9  79.0  56.0  90.0   NaN
10  ID_10  68.0   NaN  69.0  62.0
11  ID_11  61.0  56.0   NaN  76.0
12  ID_12  86.0  96.0   NaN  87.0
13  ID_13   NaN  89.0  98.0  82.0
14  ID_14  79.0  55.0  69.0   NaN

국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라

In [27]:
from scipy.stats import zscore

# 1. 가장 많은 학생이 응시한 과목 찾기
most_taken_subject = df.iloc[:, 1:].count().idxmax()

# 2. 해당 과목의 점수를 표준화 후, 가장 큰 값 계산
max_zscore = zscore(df[most_taken_subject].dropna()).max()

print(f"가장 많은 학생들이 응시한 과목: {most_taken_subject}")
print(f"가장 큰 표준화 점수: {max_zscore}")

가장 많은 학생들이 응시한 과목: 국어
가장 큰 표준화 점수: 1.713855688712825

32개의 변수간 상관관계를 확인 했을 때, var_11 컬럼과 상관계수의 절댓값이 가장 큰 변수를 찾아 해당 변수의 평균값을 구하여라

In [28]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_.csv')
df

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-0.335864,-2.425701,0.452851,-1.381924,-0.425591,-1.461498,-0.417082,-0.944226,-0.351224,1.474046,...,1.715714,0.300227,0.439828,-0.094772,1.551995,3.308446,-0.391377,1.963829,-1.458605,-0.348652
1,0.803535,-0.699433,0.095579,0.788053,-0.267674,-0.370746,0.636034,-1.674584,-0.058465,-1.188973,...,-1.348879,-0.899480,-1.271886,0.333734,-0.373565,-2.091508,-0.715245,-0.688441,0.910927,-0.746899
2,-0.408470,-0.361105,-0.857278,0.338294,2.317821,-0.099928,0.557053,-0.847932,0.973471,0.101203,...,-0.388353,0.918553,-1.984422,0.385055,1.161414,-1.280253,2.831802,-0.953771,-0.228466,0.766254
3,-0.690599,0.777928,-0.079963,0.164086,1.721702,0.146761,-0.988636,0.885344,0.647053,0.674609,...,0.337074,-1.406224,-0.699728,-0.836068,-0.226315,1.260893,-0.781630,-0.219995,0.871289,0.017578
4,0.179819,-0.668267,0.381849,-0.884196,0.758519,-1.026190,0.986227,-1.663167,2.290551,0.564845,...,-0.700137,-0.153825,-1.835313,0.182131,0.890247,0.024791,1.489955,1.276357,-0.285144,1.066486
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.490434,-1.197004,-0.479932,0.742293,0.030237,-0.917399,-0.456485,-0.073727,0.315860,0.494952,...,0.051177,-0.352919,1.165803,1.022760,-0.430430,-1.752405,1.268725,0.835590,-0.640479,0.896333
996,-0.473478,-0.288961,0.760027,0.290169,1.480012,-0.133223,-0.253417,-1.694322,-0.619197,-1.656501,...,0.039316,1.581424,-0.031658,1.527934,0.515152,-1.323778,0.122720,1.677778,-1.499085,1.061794
997,0.466743,-0.590503,0.018420,-0.466678,-0.546611,-2.276084,0.015573,2.168013,-0.669260,0.289482,...,0.145285,1.673797,0.640994,0.628243,0.202849,0.373191,0.677001,1.200631,-0.681883,-1.426339
998,-0.662948,-0.472974,0.246858,-1.258131,-1.345171,0.517870,-0.410059,-0.700673,0.101443,-0.623119,...,1.501711,-1.109268,1.454441,-2.391655,0.652381,0.478351,-0.191029,-1.120244,1.964952,0.372213
999,0.544267,1.727658,0.308647,-1.622876,0.858703,-0.263262,-0.325299,-0.298618,0.991313,0.099296,...,1.063176,-0.191063,-1.026710,0.945256,2.150945,0.459874,0.589407,1.764326,-0.121256,1.208216

In [29]:
var = df.corr()["var_11"].abs().sort_values(ascending=False).index[1]

In [30]:
df[var].mean()

-0.06289356546077182

*var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 숫자를 구하라 **

In [31]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12
0,-0.401584,0.007198,-0.134910,-0.419514,-0.686331,-1.174550,-0.499150,-0.557510,0.357347,0.844209,0.082097,0.475098
1,1.064622,-0.531247,0.571185,-0.762243,-1.456043,0.355432,0.880010,0.523183,-0.141733,0.301472,0.840299,-0.045113
2,0.900195,-1.148496,-0.718437,-2.315266,-0.755505,0.630923,0.586027,0.086497,-0.381657,-1.602532,1.566340,-0.654105
3,1.199227,-0.114200,0.101536,-1.851971,-0.672844,0.796077,0.644246,-0.836296,-1.707074,0.376281,1.303967,1.228015
4,0.607393,1.675917,1.063759,-0.799493,-0.959568,-0.103007,-0.245984,-0.059492,0.293592,-0.517044,0.100772,0.403833

In [32]:
max1 =df["var_6"].quantile(0.75)
min1 = df["var_6"].quantile(0.25)
iqr = max1 - min1
max2 = max1 + 1.5*iqr
min2 = min1 - 1.5*iqr

df[(df["var_6"] > max2) | (df["var_6"] < min2)].shape[0]

8

제주업종별카드이용정보 : https://www.jejudatahub.net/data/view/data/1048 후처리 train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv

종속변수 :이용금액 , 평가지표 : rmse

In [33]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv')
train.head(5)

        ID      연월          업종명 이용자구분    성별   이용자수   이용건수        이용금액
0  ID_5020  202201          여관업    법인  알수없음   7693  12105  3049021809
1  ID_5021  202201          여관업  제주도민    남성   3990   4291   294163241
2  ID_5022  202201          여관업  제주도민    여성   1495   1620   119277191
3  ID_5023  202201  전시 및 행사 대행업   내국인    남성  16299  18588   432933220
4  ID_5024  202201  전시 및 행사 대행업   내국인    여성  17350  19922   396316520

In [34]:
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv')
test.head()

        ID      연월                 업종명 이용자구분    성별    이용자수    이용건수
0  ID_2575  201911             한식 음식점업  제주도민    여성  153363  163462
1  ID_6637  202305          건강보조식품 소매업    법인  알수없음     136     144
2  ID_5704  202208  스포츠 및 레크레이션 용품 임대업  기타외국  알수없음      26      26
3  ID_3606  202010            서양식 음식점업  기타외국  알수없음      83      87
4  ID_6443  202303         빵 및 과자류 소매업    중국  알수없음      27      35

In [35]:
print(train.info()) #결측치 없음 , 레이블 인코딩 (ID, 업종명, 이용자구분, 성별)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245 entries, 0 to 2244
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2245 non-null   object
 1   연월      2245 non-null   int64
 2   업종명     2245 non-null   object
 3   이용자구분   2245 non-null   object
 4   성별      2245 non-null   object
 5   이용자수    2245 non-null   int64
 6   이용건수    2245 non-null   int64
 7   이용금액    2245 non-null   int64
dtypes: int64(4), object(4)
memory usage: 140.4+ KB
None

In [36]:
print(test.info()) #결측치 없음(ID, 업종명, 이용자구분, 성별)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5020 non-null   object
 1   연월      5020 non-null   int64
 2   업종명     5020 non-null   object
 3   이용자구분   5020 non-null   object
 4   성별      5020 non-null   object
 5   이용자수    5020 non-null   int64
 6   이용건수    5020 non-null   int64
dtypes: int64(3), object(4)
memory usage: 274.7+ KB
None

In [37]:
#라벨 인코딩
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# le.fit(train["ID"])
# train["ID"] = le.transform(train["ID"])
# test["ID"] = le.transform(test["ID"])

le.fit(train["업종명"])
train["업종명"] = le.transform(train["업종명"])
test["업종명"] = le.transform(test["업종명"])

le.fit(train["이용자구분"])
train["이용자구분"] = le.transform(train["이용자구분"])
test["이용자구분"] = le.transform(test["이용자구분"])

le.fit(train["성별"])
train["성별"] = le.transform(train["성별"])
test["성별"] = le.transform(test["성별"])

In [38]:
#데이터 분할
from sklearn.model_selection import train_test_split
X = train.drop(columns = ["이용금액","ID"])
y = train["이용금액"]

X_train, X_test , y_train , y_test = train_test_split(X,y, test_size = 0.2 , random_state = 42)

In [39]:
#모델링
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
pred = rf.predict(X_test)

In [40]:
#모델 평가
from sklearn.metrics import root_mean_squared_error
RMSE = root_mean_squared_error(y_test,pred)
print(RMSE)

203095058.00538233

In [41]:
#test 데이터로 예측
test_X = test.drop(columns= ["ID"])
pred2 = rf.predict(test_X)

In [42]:
submission = pd.DataFrame({"prices": pred2})
submission.to_csv("submission.csv", index = False)

데이터url = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv 종속변수 : Target

In [43]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

선형관계 가장 큰 변수 찾아 상관계수를 구하여라

In [44]:
r = df.corr()["Target"].sort_values(ascending=False)[2]
r

/var/folders/yb/947db_qj6n187ny4v_8mc1780000gn/T/ipykernel_2234/2748433425.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  r = df.corr()["Target"].sort_values(ascending=False)[2]

0.6005476823706811

Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

In [45]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

X = df.drop(columns = ["Target"])
X = sm.add_constant(X)
y = df["Target"]

model = sm.OLS(y,X).fit()
print(model)
model.params["v2"]

<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x3194f7710>

6.440301364843058

회귀 계수들이 가지는 p값들 중 최대 값은?

In [46]:
model.pvalues.max()

0.9265545986906376

심장병 발병 예측 / 종속변수 target 1: 발병

데이터 출처 : uci머신러닝 데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv train 데이터는 앞의 210개 행을, test데이터는 나머지 부분을 사용한다

train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

In [47]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [48]:
train = df.iloc[:210]
test = df.iloc[210:]

import statsmodels.api as sm

X = train.drop(columns=["target"])
y = train["target"]

model = sm.Logit(y,X).fit()
ozb = np.exp(model.params["age"])
ozb

Optimization terminated successfully.
         Current function value: 0.343347
         Iterations 7

0.9562078844664192


train으로 로지스틱 회귀 진행했을 경우 로짓 우도값을 도출하라

test 데이터의 독립변수로 target 예측 후 오류율을 구하여라